<footer>
  <div class="footer d-flex justify-content-around align-items-center p-5">
    <div class="footer__item">
      <div>
        <i class="fa fa-map-marker-alt"></i> Addis Ababa, Ethiopia
      </div>
      <div>
        <i class="fa fa-phone-alt"></i> +251911123445
      </div>
      <div>
        <i class="fa fa-envelope"></i> info@yegna-lab.com
      </div>
    </div>
    <div class="footer__item">
      <h4>About us</h4>
      <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt nibh
      pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
      <div>
        <i class="fa fa-facebook-square mx-1"></i>
        <i class="fa fa-twitter-square mx-1"></i>
        <i class="fa fa-instagram mx-1"></i>
        <i class="fa fa-linkedin mx-1"></i>
      </div>
    </div>
    <div class="footer__item">
      <form>
        <input type="email" name="email" class="form-control" placeholder="Your email">
        <textarea class="form-control my-2" rows="3" placeholder="Say something"></textarea>
        <button type="submit" class="btn btn-outline-light">Submit</button>
      </form>
    </div>
  </div>
</footer>
