<footer>
  <div class="footer d-flex justify-content-around align-items-center p-5">
    <div class="footer__item">
      <div>
        <i class="fa fa-map-marker-alt"></i> Addis Ababa, Ethiopia
      </div>
      <div>
        <i class="fa fa-phone-alt"></i> +251911123445
      </div>
      <div>
        <i class="fa fa-envelope"></i> info@yegna-lab.com
      </div>
    </div>
    <div class="footer__item">
      <h4>About us</h4>
      <p class="text-justify">Yegnalab is an importer and distributor of laboratory chemicals, customized glassware,
        rigs and apparatus, equipment,
        consumables, and repairs. We supply to universities, food laboratories, and education and research facilities,
        across
        Ethiopia.

      </p>
      <div>
        <i class="fa fa-facebook-square mx-1"></i>
        <img [src]="baseImageUrl +  'telegram.svg'" alt="" width="7%">
        <i class="fa fa-telegram-alt " aria-hidden="true"></i>
        <i class="fa fa-instagram mx-1"></i>
        <i class="fa fa-linkedin mx-1"></i>
      </div>
    </div>
    <div class="footer__item">
      <h4>Contact Us</h4>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <textarea class="form-control my-2" rows="3" formControlName="message" placeholder="What would you like to say" required></textarea>
        <button type="submit"  class="btn btn-outline-light">Submit</button>
      </form>
    </div>
  </div>
</footer>
