<div class="landing d-flex justify-content-center align-items-center position-relative">
  <img [src]="baseImageUrl +  'yegna_logo.svg'" class="landing__logo position-absolute" alt="" width="5%">
  <img [src]="baseImageUrl +  'landing-bg.svg'" class="landing__bg position-absolute" alt="" width="100%">
  <div class="landing__slider p-5">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <a href="#">
          <div class="p-lg-5">
            <img class="landing__slider-item m-3" [src]="baseImageUrl +  'chemicals.svg'" alt="" width="100%">
          </div>
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a href="#">
          <div class="p-lg-5">
            <img class="landing__slider-item m-3" [src]="baseImageUrl +  'body-model.svg'" alt="" height="300px"
              width="100%">
          </div>
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a href="#">
          <div class="p-lg-5">
            <img class="landing__slider-item m-3" [src]="baseImageUrl +  'laboratory-.svg'" alt="" width="100%">
          </div>
        </a>
      </ng-template>
    </owl-carousel-o>
  </div>

  <div class="landing__desc d-flex align-items-center justify-content-center flex-column">
    <h1>Yegna lab</h1>
    <div class="d-flex align-items-center">
      <div class="landing__desc__letter-o"></div>
      <span class="landing__desc__urs">urs,</span>
      <span class="landing__desc__yours">Yours</span>
    </div>
    <button class="py-2 px-5">Get Now</button>
  </div>
</div>
