<div class="home-body">
  <div class="home-body__service pl-5 d-flex justify-content-center align-items-center flex-column">
    <h3>Services</h3>
    <p class="text-secondary text-center">
    We provide a complete laboratory design, maintenance and installation service to help you create the perfect laboratory
    for your needs. Whether you need a completely new facility or an upgrade and refurbishing on an existing one, we can
    help. We also specialize in the supply of high-quality custom glassware for scientific and industrial purposes.
    </p>
  </div>
  <app-home-body-section *ngFor="let data of homeSectionData" [data]="data"></app-home-body-section>
  <app-our-client></app-our-client>
  <app-members></app-members>
  <app-footer></app-footer>
</div>
