<div class="home-body">
  <div class="home-body__service pl-5 d-flex justify-content-center align-items-center flex-column">
    <h3>Services</h3>
    <p class="text-secondary text-center">
      We offer a high-quality, personal and friendly service providing advice and support for all your laboratory requirements
      in chemicals, glassware, consumables, repairs, maintenance or a complete laboratory fit out. Yegnalab prides itself on
      its professional but personal approach to customer service and its commitment to ensuring that we can meet all your
      laboratory needs.
    </p>
  </div>
  <app-home-body-section *ngFor="let data of homeSectionData" [data]="data"></app-home-body-section>
  <app-our-client></app-our-client>
  <app-members></app-members>
  <app-footer></app-footer>
</div>
