<h5 class="text-center">Our team</h5>
<p class="ext-secondary text-center m-auto my-4" style="width: 80%;">
  Professionals at Yegnalab possess over 10 years of experience as reputable Importers and distributors of Laboratory
  Chemicals and Equipment, offering high quality products from selected international companies. We work towards providing
  globally competitive prices while ensuring the necessary level of technical guidance, training, support and priority
  service.
</p>
<div class="d-flex justify-content-center mt-3">
  <img src="https://res.cloudinary.com/yegna-images/image/upload/v1634237140/members_mdftfi.jpg" loading="lazy" width="50%" class="members-img" [alt]="'yegna lab members'">
</div>
<div class="members p-5 d-flex justify-content-between">
  <div class="members__card" *ngFor="let member of members">
    <div class="members__img">
      <img [src]="member.imgUrl" width="100%" loading="lazy" [alt]="member.name">
    </div>
    <div class="text-center text-secondary py-2">
      <h5>{{member.name}}</h5>
      <span [ngClass]="{'small-size-font': member.role.length > 17}">
        {{member.role}}
      </span>
    </div>
  </div>
</div>
