.highlight {
  background-color: rgba($color: #fff, $alpha: 0.3);
  width: 80%;
  height: auto;
  border-radius: 20px;
  transform: translateY(-25%);
  color: rgb(61, 57, 57);
  // margin: auto;

  &__body {
    width: 100%;
    // height: 150px;
    border-radius: 20px;
    background-color: #fff;
  }

  &__body-item {
    width: 30%;
  }
}

.small-width {
    display: none;
  }

@media screen and (max-width: 570px) {
  .large-width {
    display: none;
  }
  .small-width {
    display: block;
  }

  .highlight {
    width: 50%;
  }

  .highlight__body-item {
    width: auto;
    img {
      width: 30px;
    }
  }
}
