<div class="highlight m-auto p-3">
  <div class="highlight__body d-flex justify-content-around p-3">
    <div class="highlight__body-item">
      <h4>Hot Market.</h4>
      <h4>Fair listing fee.</h4>
      <h4>Quality service for you.</h4>
    </div>

    <div class="highlight__body-item">
      <div class="d-flex align-items-start">
        <img src="../../../assets/img/info.svg" alt="">
        <div>
          <h3>We are</h3>
          <p class="text-secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam repellendus quaerat.</p>
        </div>
      </div>
    </div>
    <div class="highlight__body-item">
      <div class="d-flex align-items-start">
        <img src="../../../assets/img/info.svg" alt="">
        <div>
          <h3>We do</h3>
          <p class="text-secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam repellendus quaerat.</p>
        </div>
      </div>
    </div>
  </div>
</div>
