<div class="highlight m-auto p-3 large-width">
  <div class="highlight__body d-flex justify-content-around p-3">
    <div class="highlight__body-item align-self-center">
      <h4>Quality products.</h4>
      <h4>Impeccable service.</h4>
      <h4>Your lab, our lab!</h4>
    </div>

    <div class="highlight__body-item">
      <div class="d-flex align-items-start">
        <img [src]="baseImageUrl + 'info.svg'" alt="">
        <div>
          <h3>We are</h3>
          <p class="text-secondary">A professional distributor and supplier of laboratory chemicals and equipment from leading brands of laboratory products
          around the world.</p>
        </div>
      </div>
    </div>
    <div class="highlight__body-item">
      <div class="d-flex align-items-start">
        <img [src]="baseImageUrl + 'info.svg'" alt="">
        <div>
          <h3>We do</h3>
          <p class="text-secondary">Provide a complete laboratory design, maintenance and installation service, as well as, supply of chemicals, physics
          equipment, biology models, and chemistry equipment.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="highlight m-auto p-3 small-width">
  <div class="highlight__body p-3">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="highlight__body-item align-self-center">
          <h4>Quality products.</h4>
          <h4>Impeccable service.</h4>
          <h4>Your lab, our lab!</h4>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="highlight__body-item">
          <div class="d-flex align-items-start">
            <img [src]="baseImageUrl + 'info.svg'" alt="">
            <div>
              <h3>We are</h3>
              <p class="text-secondary">A professional distributor and supplier of laboratory chemicals and equipment from leading
                brands of laboratory products
                around the world.</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="highlight__body-item">
          <div class="d-flex align-items-start">
            <img [src]="baseImageUrl + 'info.svg'" alt="">
            <div>
              <h3>We do</h3>
              <p class="text-secondary">Provide a complete laboratory design, maintenance and installation service, as well as, supply
                of chemicals, physics
                equipment, biology models, and chemistry equipment.</p>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
