<div class="home-body-section d-flex align-items-center my-5" [ngClass]="{'flex-row-reverse': data?.reverse}">
  <div class="home-body-section__desc px-5">
    <h1>{{data.title | uppercase}}</h1>
    <p class="text-secondary">{{data.description}}</p>
  </div>

  <div class="home-body-section__graphic position-relative" [ngClass]="{'home-body-section__reverse': data.reverse}" [style]="'--color:' + data?.bgUrl">
   <img [src]="baseImageUrl +  data?.imgUrl" width="70%" class="position-absolute home-body-section__img" alt="">
  </div>
</div>
